/* Show it is fixed to the top */
::-moz-selection { /* Code for Firefox */
    background: #d6d6d6;
}

::selection {
    background: #d6d6d6;
}

.vgap{
	padding: 20px 0 20px 0;
}
.nogap-bottom{
    margin-bottom: 0;
    padding-bottom: 0;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #fff;
}

body {
  min-height: none;
  padding-top: 3.5rem;
  /*background: url("../images/bg-1.jpg") no-repeat center center fixed; 22/11/2017 */
  background: url("../images/851A6378.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #e7edee;
  color: #000;
  position: relative;
}

figcaption {
    color: #e89f9f;
}

.full-banner {
    background: #e7edee;
    color: #000;
    padding: 10px;
}

.inner-page main {
    padding: 20px 0;
    background: #fbdbdb;
}

.inner-page .main-container {
    background: #fff;
    padding: 20px;
    border-radius: 20px 0 20px 0;
}

h1.seo {
    font-size: 1rem;
}

h2{
	color: #000;
	font-size: 1.7rem;
}
h3{
	font-size: 1rem;
}

.heading3{
    color: #fff;
}

.heading3 span{
    display: inline-block;
    width: auto;
    background: #000;
    padding: 10px;
    color: #fff;
    border-radius: 15px 0;
}

/* https://css-tricks.com/snippets/css/css-triangle */
.heading3 span.arrow-right{
    display: inline-block;
    padding: 0;
    border-radius: unset;
    vertical-align: middle;
    margin-left: 5px;
    background: none;
}

.heading3 a{
    color: #fff;
}

h2.vgap.item-heading {
    color: #fff;
    display: table;
    width: 100%;
    background: #000;
    padding: 10px;
    border-radius: 10px 10px 0px 0;
    margin: 0;
}

h2.vgap.item-heading a {
    color: #fff;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    display: table-cell;
    text-align: right;
    width: 170px;
}

h2.vgap.item-heading a:hover {
    color: #c7a1a1;
    text-decoration: none;
}

h2.vgap.item-heading a .contact-name {
    display: block;
    font-size: 16px;
}

p,h2,h3,h4,h5,h6{
	text-align: left;
}

a{
	color: #727376;
}
.block{
    float:right;
}
aside p{
    font-size: 14px;
    text-align: justify;
    color: #727376;
}

.category-list p{
    text-align: left;
}

/* UI Price Tag */
.ui-price {
    position: relative;
    padding: .4rem 0;
    overflow: hidden;
}
.ui-price:before {
    content: '';
    position: absolute;
    z-index: 5;
    top: 0;
    left: -5px;
    bottom: 0;
    width: 10px;
    background: 0 0;
    background: -webkit-radial-gradient(50% 60%,rgba(0,0,0,.3),rgba(0,0,0,0));
    background: radial-gradient(50% 60%,rgba(0,0,0,.3),rgba(0,0,0,0));
    background-repeat: no-repeat;
}
.ui-price-tag {
    padding: .6rem 2.5rem .6rem 1.5rem;
    -webkit-box-shadow: 0 3px #e7edee;
    box-shadow: 0 3px #e7edee;
    position: relative;
    z-index: 1;
    display: table;
    color: #2f3432;
    background: #ffc800;
    border: solid 1px #dcb300;
    border-width: 1px 0;
}
.ui-price-tag .amount {
    font-weight: 700;
}
.ui-price-tag .r1, .ui-price-tag .r2, .ui-price-tag .r3 {
    content: '';
    border-top: solid 1.44rem transparent;
    border-bottom: solid 1.44rem transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
}
.ui-price-tag .r1 {
    top: -1px;
    border-right: solid 1.44rem #dcb300;
}
.ui-price-tag .r2 {
    top: 0;
    border-top-width: 1.368rem;
    border-right: solid 1.368rem #e7edee;
    border-bottom-width: 1.368rem;
}
.ui-price-tag .r3 {
    top: 4px;
    border-top-width: 1.224rem;
    border-right: solid 1.224rem #560101;
    border-bottom-width: 1.224rem;
}
/* /UI Price Tag */

/* main navigation */
.bg-inverse {
    background-color: #b71a1e !important;
}
a:focus, a:hover, a:active, a:target {
    color: #c7a1a1;
    text-decoration: underline;
}
.navbar-inverse .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 0.8);
}
.navbar-nav li:last-child {
	border-radius: 5px;
    background: #ffe100;
}
.navbar-nav li:last-child a.nav-link,
.navbar-nav li:last-child a.nav-link:visited {
	color: #000;
	border-radius: 5px;
}
.navbar-nav li:last-child a.nav-link:hover {
	background-color: #000;
	color: #ffe100;
}
/* /main navigation */
.home-logo{
    margin: 0 auto;
    display: block;
}
/* Home Search */
#advanced-search{
	margin: 10% 0;
}
.btn-home-category {
    border: none;
    background: #ed3237;
    color: #fff;
    font-size: .8rem;
}
.dropdown-divider {
    margin: .1rem 0;
    background-color: #eee;
}
.home-search-submit {
    width: 40px;
    background: url(../images/btn-search.png) no-repeat center center #fff;
    background-size: 80% auto;
    border-radius: 0 0.25rem 0.25rem 0;
    border: none;
    height: 38px;
    outline: none;
}
.home-search-input{
	border: none;
	outline: none;
}
.home-search-submit:hover,
.btn-home-category{
	cursor: pointer;
	outline: none;
}
button.btn.btn-secondary.dropdown-toggle.btn-home-category {
    text-align: left;
    border: none;
}
.btn-secondary.btn-home-category:active, .btn-secondary.btn-home-category.active, .show > .btn-secondary.btn-home-category.dropdown-toggle, .btn-secondary.btn-home-category:focus, .btn-secondary.btn-home-category.focus, .btn-secondary.btn-home-category:hover {
    color: #ffffff;
    background-color: #ed3237;
    background-image: none;
    border: none;
    text-align: left;
    box-shadow: none;
}
.frm-border{
    border: 1px solid #ddd;
}
/* Styling the placeholder...*/
.home-search-input::-webkit-input-placeholder {
  color: #bbb;
  font-size: .8rem;
}

.home-search-input:-moz-placeholder { /* Firefox 18- */
  color: #bbb;
  font-size: .8rem;
}

.home-search-input::-moz-placeholder { /* Firefox 19+ */
  color: #bbb;
  font-size: .8rem;
}

.home-search-input:-ms-input-placeholder { /* IE 10+ */
  color: #bbb;
  font-size: .8rem;
}

.home-search-input::-ms-input-placeholder { /* Edge */
  color: #bbb;
  font-size: .8rem;
}

.home-search-input:placeholder-shown { /* Standard one last! */
  color: #bbb;
  font-size: .8rem;
}
/* /Styling the placeholder...*/
/**/
.dropdown-menu-home{
	padding: 0;
}
.dropdown-item.active, .dropdown-item:active,
.dropdown-item:focus, .dropdown-item:hover {
	background-color: rgb(237, 50, 55);
	color: #fff;
}
.dropdown-menu-home {
    padding: 0;
    border-radius: 0.25rem;
    font-size: .8rem;
}
.dropdown-item.active:first-child, .dropdown-item:first-child:active, .dropdown-item:first-child:focus, .dropdown-item:first-child:hover{
	border-radius: 0.25rem 0.25rem 0 0;
}
.dropdown-item.active:last-child, .dropdown-item:last-child:active, .dropdown-item:last-child:focus, .dropdown-item:last-child:hover{
	border-radius: 0 0 0.25rem 0.25rem;
}
/**/
/* /Home Search */

/* Inner Page Advanced Search */
#advanced-search.inner-page-advanced-search{
	margin: 0 0 1% 0;
}
.advanced-search{
	margin: 0 0 1% 0;
}
/* /Inner Page Advanced Search */

/* Inner Page - Sorting */
.btn-full-width{
    width: 100%;
}
/* mid-section */
.mid-section{
	background-color: #560101;
	border-radius: 10px;
	padding-bottom: 15px;
}
/* mid-section */

/* home note */
.home-note{
    background: #e7edee;
    border-radius: 15px 0px;
    padding: 5px 15px;
}
.home-note p{
    margin: 0;
}
/* home note */

/* Listing */
.product-list-item {
    background-color: #eef7ff;
    border-radius: 3px;
    margin: 15px 0 0 0;
}
.product-list-item:last-child {
    color: #fff;
}
.img-product-list img {
    margin-top: 15px;
    margin-bottom: 15px;
}
.item-title {
    position: relative;
    display: block;
    padding-bottom: 30px;
    margin-top: 15px;
    line-height: 1;
}
.item-title a {
    color: #000;
    font-weight: bold;
    display: inline-block;
    height: 128px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.item-title a:hover,
.item-title a:visited,
.item-title a:link {
    text-decoration: none;
}
.item-title a:hover{
	color: #ed3237;
}
.item-meta, .item-location, .item-info {
    font-size: 0.8rem;
    color: #727376;
    margin-bottom: 5px;
    line-height: 1;
    padding-bottom: 15px;
}
.item-location {
    color: #000;
}
.item-price {
    color: #fff;
    background: #f72323;
    width: auto;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: bold;
}
.boost{
	background: #ffeef1;
}
.pagination{
    display: table-footer-group;
}
.pagination a:link {
    color: #e7edee;
    padding: 0 5px;
}
.pagination a:hover,
.pagination a:target,
.pagination a:active,
.pagination a:focus{
    color: #fff;
    text-decoration: none;
}
.row.product-list-item.pagination-holder {
    background: #330f0f;
}
/* /listing */

/* Item */
.product-item {
    background-color: #000;
    border-radius: 0px 0px 10px 10px;
    margin: 0;
    padding-top: 15px;
}
.product-item-wrapper{
	display: table;
}
.product-item-wrapper .btn-back,
.product-item-wrapper figure,
.product-item-wrapper .btn-next{
	display: table-cell;
}
.product-item-wrapper .btn-back a,
.product-item-wrapper .btn-next a{
	display: inline-block;
    font-size: 13px;
    font-weight: bold;
    border-radius: 1em;
    position: absolute;
    top: 0;
    height: 100%;
    background: none;
}
.product-item-wrapper .btn-back a:hover,
.product-item-wrapper .btn-back a:visited,
.product-item-wrapper .btn-back a:link{
	text-decoration: none;
}
.product-item-wrapper .btn-back a span,
.product-item-wrapper .btn-next a span {
    background-color: #000;
    font-size: 13px;
    font-weight: bold;
    border-radius: 1em;
    display: block;
    position: absolute;
    top: 50%;
    width: 22px;
    height: 22px;
}
.product-item-wrapper .btn-back a span{
	left: 0px;
}
.product-item-wrapper .btn-next a span{
	right: 0px;
}
.product-gal-items ul {
    display: table;
    padding: 0;
    width: 0 !important;
    margin: 0 !important;
}
.product-gal-items ul li {
    display: table-cell;
    list-style: none;
    background: #fff;
    border: 2px solid #96989a;
}
.single-product-description p{
    color: #ccc;
}
.single-product-details dl{
    text-align: left;
}
.single-product-details dl dt{
    color: #fff;
    font-weight: 400;
    padding: .3em;
    white-space: nowrap;
    width: auto;
    display: inline;
    background: #000;
    border-radius: 5px;
    margin-right: 4px;
}
.single-product-details dl dd{
    color: #ccc;
    word-wrap: break-word;
    text-align: left;
    display: inline;
}
/* /Item */

/* Gallery */
.rg-image-wrapper{
    position: relative;
    padding: 0px 30px 1px;
    background:transparent url(../images/black.png) repeat top left;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    min-height:20px;
}
.rg-image{
    position:relative;
    text-align:center;
    line-height:0px;
}
.rg-image img{
    max-height:100%;
    max-width:100%;
}
.rg-image-nav a{
    position:absolute;
    top:0px;
    left:0px;
    background:#000 url(../images/nav.png) no-repeat -20% 50%;
    width:28px;
    height:100%;
    text-indent:-9000px;
    cursor:pointer;
    opacity:0.3;
    outline:none;
    -moz-border-radius: 0px 0px 0px 10px;
    -webkit-border-radius: 0px 0px 0px 10px;
    border-radius: 0px 0px 0px 10px;
}
.rg-image-nav a.rg-image-nav-next{
    right:0px;
    left:auto;
    background-position:115% 50%;
    -moz-border-radius: 0px 0px 10px 0px;
    -webkit-border-radius: 0px 0px 10px 0px;
    border-radius: 0px 0px 10px 0px;
}
.rg-image-nav a:hover{
    opacity:0.8;
}
.rg-caption {
    text-align:center;
    margin-top:15px;
    position:relative;
}
.rg-caption p{
    font-size:11px;
    line-height:16px;
    padding:0 15px;
    text-transform:uppercase;
    color: #f0f0f0;
}
.rg-view a{
    display:block;
    float:right;
    width:16px;
    height:16px;
    margin-right:3px;
    background:#464646 url(../images/views.png) no-repeat top left;
    border:3px solid #464646;
    opacity:0.8;
}
.rg-view a:hover{
    opacity:1.0;
}
.rg-view a.rg-view-full{
    background-position:0px 0px;
}
.rg-view a.rg-view-selected{
    background-color:#6f6f6f;
    border-color:#6f6f6f;
}
.rg-view a.rg-view-thumbs{
    background-position:0px -16px;
}
.rg-loading{
    width:46px;
    height:46px;
    position:absolute;
    top:50%;
    left:50%;
    background:#000 url(../images/ajax-loader.gif) no-repeat center center;
    margin:-23px 0px 0px -23px;
    z-index:100;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    opacity:0.7;
}
span.es-nav-next,
span.es-nav-prev,
.rg-view a.rg-view-full,
.rg-view a.rg-view-thumbs,
.rg-view a.rg-view-full rg-view-selected,
.rg-view a.rg-view-thumbs rg-view-selected{
    display: none !important;
}
/* /Gallery*/

/* icon-bar */
.icon-bar{
	display: block;
	font-size: 40px;
}
.icon-bar h2{
    color: #fff;
	font-size: 14px;
	padding-bottom: 20px;
    text-align: left;
}
.icon-bar padding: {
	display: table;
}
.icon-bar p i.fa {
    display: table-cell;
    width: 20px;
    font-size: 14px;
    color: #fff;
}
.icon-bar p a {
    color: #d3d3d3;
    font-size: 14px;
    display: table-cell;
    width: auto;
    line-height: 1;
}
.icon-bar a:visited,
.icon-bar a:link {
    color: #d3d3d3;
    text-decoration: none;
}
.icon-bar a:hover,
.icon-bar a:target {
    color: #fff;
    text-decoration: none;
}

.icon-bar a:hover,
.icon-bar a:target {
    color: #fff;
    text-decoration: none;
}

.social-icons {
    font-size: 25px;
}
/* /icon-bar */

/* Register */
form.sign input{
    margin-bottom: 10px;
    float: right;
}
form.sign input[type="submit"]{
    border: none;
    background: #cc020b;
    color: #fff;
    border-radius: 5px;
}
form.sign select {
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 0.5rem 0.75rem;
    outline: none;
    font-size: 0.8rem;
    color: #464a4c;
}
form.sign select option {
    color: #bbb;
}
.login-box, .register-box{
    margin: 0 auto;
}
/* /Register */

/* Footer */
footer {
	font-size: 13px;
	border-top: 4px solid #727376;
}
footer a:hover{
	text-decoration: none;
}
.footer-bar{
	display: table;
	width: 100%;
}
.footer-bar p{
	display: table-cell;
    color: #fff;
}
.full-footer{
	background-color: #b71a1e;
;
	padding: 20px 0;
}
.full-footer a{
	color: #fff;
    text-decoration: underline;
}
.full-footer a:hover{
	color: #000;
}
/* Footer */

/* Inner Pages */
.inner-page{
    background: none;
    color: #000;
}

.inner-page h2,
.inner-page .icon-bar a:hover, .icon-bar a:target{
    color: #000;
}
.inner-page .icon-bar a:visited,
.inner-page .icon-bar a:link {
    color: #727376;
}
.inner-page .icon-bar a:hover,
.inner-page .icon-bar a:target {
    color: #000;
}
.inner-page .icon-bar p i.fa {
    display: table-cell;
    width: 20px;
    font-size: 14px;
    color: #000;
}
.inner-page .enter-location{
    border: 1px solid #727376;
}
/* Inner Pages */

/* Member */
.member-banner{
    background: #010ae1; /* dynamic */
}
.member-section{
    background-color: #f2ea19; /* dynamic */
}
.member-ads-heading{
    color: #000; /* dynamic */
}
h1.member-profile-heading{
    font-size: 2rem;
    color: #f0f0f0; /* dynamic */
}
aside p.member-contact a i.fa.fa-phone-square,
aside p.member-contact a i.fa.fa-envelope-square{
    display: inline-block;
    font-size: 18px;
    width: 13px;
}
p.member-contact {
    margin: 10px 0 0 0;
}
.member-tel{
    font-size: 18px;
}
.contact-name{
    display: block;
    padding-left: 18px;
}
.contact-email {
    padding-left: 4px;
}
.member-tag {
    background: #fff;
    color: #ff0000;
    display: table;
    font-size: 12px;
    padding: 0 4px;
    line-height: 1;
    border-radius: 7px 0 7px 0;
    margin-top: 4px;
    font-weight: 700;
}

/* /Member */

@media (max-width: 1200px) {
	/* button.btn.btn-secondary.dropdown-toggle.btn-home-category {
    	width: auto;
	} */
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 992px) {
	.navbar-nav li:last-child {
    	width: 80px;
	}
}
/* Overriding Bootstrap */
.input-group-btn:not(:last-child) > .btn, .input-group-btn:not(:last-child) > .btn-group {
    margin-right: 0;
}
/* /Overriding Bootstrap */

.map_wrapper {
    height: 454px;
}

.map_wrapper #map {
    width: 100%;
    height: 100%;
}

.pac-logo::after{
    height: 0px !important;
    display: none !important;
}

.detail-gallery {
    padding-bottom: 15px;
}

.detail-gallery .detail-gallery-main-image {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.detail-gallery .detail-gallery-main-image .prev {
    background: url("../images/search-bg.png") repeat;
    position: absolute;
    width: 65px;
    height: 65px;
    left: -25px;
    z-index: 9;
    text-align: right;
    border-radius: 50%;
    overflow: hidden;
    padding: 18px 15px;
    top: 45%;
    cursor: pointer;
}

.detail-gallery .detail-gallery-main-image .next {
    background: url("../images/search-bg.png") repeat;
    position: absolute;
    width: 65px;
    height: 65px;
    right: -25px;
    z-index: 9;
    text-align: left;
    border-radius: 50%;
    overflow: hidden;
    padding: 18px 15px;
    top: 45%;
    cursor: pointer;
}

.detail-gallery .detail-gallery-thumbs {
    padding-top: 15px;
    width: 100%;
}

.detail-gallery .detail-gallery-thumbs ul {
    padding: 0px;
    margin: 0px;
}

.single-product-description, .single-product-details {
    margin-top: 15px;
}

select.selectpicker {
    width: 100%;
}

select.selectpicker.category_selectpicker,
select.selectpicker.category_selectpicker {
    width: auto;
}

select.selectpicker.category_selectpicker_home{
    width: auto;
}

.detail-gallery .detail-gallery-thumbs ul li {
    list-style: none;
    float: left;
    width: 20%;
    padding: 5px;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}



